body {
    width:100%;
    background-color:lightsteelblue;
}

header {
    display:flex;
    position:fixed;
    top:0px;
    justify-content:space-between;
    padding-left:5%;
    background-color:midnightblue;
    color:rgb(224, 224, 224);
    
    height:65px;
    width: 100%;
    border-bottom: solid black;
    z-index:1;
}

h1{ 
    text-shadow: 2px 2px black;
}

/* --- DROPDOWN MENU START --- */
.drop-btn {
    background-color:green;
    color: white;
    padding: 14px;
    font-size: 14px;
  }
  
  .dropdown {
    position: relative;
    right: 3px;
    top: 3px;
    bottom:0px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left:auto;
    right:0px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    z-index: 9999;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: lightgreen;}
  /*--- DROPDOWN MENU END ---*/
/*--- EVENT BOX--*/
#event-info{
    padding-top:75px;
    padding-bottom:50px;
}

.data-container{
  margin: 5px 0;
  box-shadow: 2px 2px 2px black;
  border:1px solid darkblue;
}

.event-image-container{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:steelblue;
}

.event-image {
  border:2px solid darkblue;
}

.text-container{
  position:relative;
  background-color:white;
}

.data-title{
  background-color:steelblue;
  text-align:center;
}

.data-venue{
  position:absolute;
  bottom:0px;
  width:100%;
  text-align:center;
  background-color:steelblue;
}
  /*--- FOOTER NAV MENU ---*/
  footer {
      display:flex;
      position:fixed;
      width:100%;
      bottom:0px;
      background-color: darkgray;
      justify-content:center;
  }
  #scroll-back{
      display:none;
  }

.page-num {
    font-size:30px;
}

  .nav-btn {
      font-size:40px;
  }